@import "./src/scss/media";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layoutHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: var(--colors-ui-base);
  box-shadow: var(--shadow);
  z-index: 150;

  @include breakpoint-down('mobM') {
    height: 64px;
  }
}

.layoutHeaderContainer {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;

  @include breakpoint-down('tabM') {
    padding: 20px;
  }
}

.layoutHeaderTitle {
  font-size: 24px;

  @include breakpoint-down('mobM') {
    font-size: 14px;
  }
}

.layoutTheme {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.layoutThemeIcon {
  width: 18px;
  height: 18px;
  margin-right: 9px;

  @include breakpoint-down('mobM') {
    width: 14px;
    height: 14px;
  }
}

.layoutThemeText {
  font-size: 16px;
  text-transform: capitalize;

  @include breakpoint-down('mobM') {
    font-size: 14px;
  }
}

.layoutMain {
  flex: 1;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 80px 80px 0;

  @include breakpoint-down('tabM') {
    padding: 80px 20px 0;
  }

  @include breakpoint-down('mobM') {
    padding-top: 64px;
  }
}