@import "./src/scss/media";

.main {
  padding: 50px 0;
}

.mainControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @include breakpoint-down('tabM') {
    flex-wrap: wrap;
  }
}

.mainControlsInput {
  min-width: 480px;

  @include breakpoint-down('tabM') {
    width: 100% !important;
    margin-bottom: 40px;
    min-width: auto;
  }
}

.mainControlsSelect {
  min-width: 200px;
}

.mainGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 73px;

  @include breakpoint-down('deskS') {
    gap: 40px;
  }

  @include breakpoint-down('tabM') {
    gap: 20px;
  }
}

.mainGridLoader {
  margin: 0 auto;
}

.mainGridNone {
  margin: 0 auto;
}

.mainGridCard {
  width: calc((100% - 73px * 3) / 4);

  @include breakpoint-down('deskS') {
    width: calc((100% - 40px * 3) / 4);
  }

  @include breakpoint-down('tabM') {
    width: calc((100% - 20px * 2) / 3);
  }

  @include breakpoint-down('tabS') {
    width: calc((100% - 20px) / 2);
  }

  @include breakpoint-down('mobM') {
    width: 100%;
  }
}