.input {
  background-color: var(--colors-ui-base);
  padding: 15px 30px;
  display: flex;
  align-items: center;

  border-radius: 8px;
  box-shadow: var(--shadow);
  width: max-content;
}

.inputIcon {
  margin-right: 25px;
  width: 21px;
  height: 21px;
}

.inputInput {
  outline: none;
  border: none;
  background: var(--colors-ui-base);
  color: var(--color-text);
  padding: 0;
  font-size: 14px;
  width: 100%;
}