@import "./src/scss/media";

.country {
  padding: 50px 0;
}

.countryControls {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.countryBack {
  padding: 0 41px 0 31px;
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
  border-radius: 8px;
  border: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 15px;
  color: var(--colors-text);
  cursor: pointer;
  height: 40px;
}

.countryContent {
  display: flex;
  align-items: center;
  gap: 120px;

  @include breakpoint-down('deskS') {
    gap: 40px;
  }

  @include breakpoint-down('tabM') {
    flex-wrap: wrap;
  }
}

.countryContentImage {
  width: calc((100% - 120px) / 2);

  @include breakpoint-down('tabM') {
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.countryContentInfo {
  width: calc((100% - 120px) / 2);

  @include breakpoint-down('tabM') {
    width: 100%;
  }

  h1 {
    margin-bottom: 24px;
  }
}

.countryContentLists {
  display: flex;
  align-items: flex-start;

  @include breakpoint-down('tabS') {
    flex-wrap: wrap;
  }

  > ul {
    width: calc(100% / 2);
    padding-right: 30px;

    @include breakpoint-down('tabS') {
      width: 100%;
    }
  }
}

.countryLoader {
  margin-inline: auto;
}

.countryBorder {
  margin-top: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;

  > p {
    padding: 0 41px 0 31px;
    background-color: var(--colors-ui-base);
    box-shadow: var(--shadow);
    border-radius: 8px;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 15px;
    color: var(--colors-text);
    cursor: pointer;
    height: 40px;
  }
}