.card {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--colors-ui-base);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.cardImage {
  display: block;
  width: 100%;
  height: 160px;
  box-shadow: var(--shadow);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.cardContent {
  padding: 25px 24px 28px;
}

.cardContentName {
  font-size: 18px;
  margin-bottom: 14px;
}

.cardContentItem {
  font-size: 14px;
  font-weight: 300;
}